<head>
  <title>About</title>
</head>
<body class="aboutbody">
{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}
<div class="containerAbout">
  <div class="row">
    <div class="col-sm">
      <h1 class="abouth1">About</h1>
      <p class="aboutP">Cyclone is a Web App based on my first ever python project; a PyQT5 App that would apply a variety of filters and glitch effects to a chosen image. I wanted other people to be able to use my app but had some challenges packaging it up. So instead I embarked on a new mission: get Cyclone online!
      <br>
      <br>
      I started learning some HTML, CSS and Django and this is the result &#128512; 
      <br>
      <br>
      Simply upload an image (JPEG or PNG) that you would like to alter and then give the page time to load to view your creation! Your image will automatically be added to the community gallery so please be sensible with what you upload. Check out <a href=https://unsplash.com target="_blank">Unsplash</a> for free downloads to experiment with. 'Small' - 640 x 426 images seem to work best.
      <br>
      <br>
      <img id="Icon" src="{% static 'portfolio/Icon.png' %}">
      </p>
    </div>
  </div>
</div>
</div>
</body>
{% endblock %}
</html>